<h2><%= @article.title %></h2>
<p><%= @article.content %></p>

<%= link_to "Go back to index", articles_path %>
<%# <%= link_to "Edit this article", edit_task_path %> %>
<%# <%= link_to "Delete", %>
  <%# task_path(@task), %>
  <%# data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} %>
<%# %> %>
